<section class="section movies-results">
  <li>
    <div class="card entity-card entity-card-list cf">
      <figure class="thumbnail ">
<span class="ACrL2ZACrpbG0vZmljaGVmaWxtX2dlbl9jZmlsbT0xNzMxMDkuaHRtbA== thumbnail-container thumbnail-link"
      title="A Star Is Born">
<img class="thumbnail-img" src="data:image/gif;base64,R0lGODlhAwAEAIAAAAAAAAAAACH5BAEAAAAALAAAAAADAAQAAAIDhI9WADs="
     data-src="https://fr.web.img3.acsta.net/c_310_420/pictures/19/04/05/16/
00/1578857.jpg" alt="A Star Is Born" width="310" height="420">
</span>
      </figure>
      <div class="meta  ">
        <h2 class="meta-title">
          <span class="ACrL2ZACrpbG0vZmljaGVmaWxtX2dlbl9jZmlsbT0xNzMxMDkuaHRtbA== meta-title-link">A Star Is Born</span>
        </h2>
        <div class="meta-body">
          <div class="meta-body-item meta-body-info">
            <span class="date">3 octobre 2018</span>
            <span class="spacer">/</span>
          </div>
          <div class="meta-body-item meta-body-direction">
            <span class="light">De</span>
            <span class="ACrL3BACrlcnNvbm5lL2ZpY2hlcGVyc29ubmVfZ2VuX2NwZXJzb25uZT05NTY3Ni5odG1s blue-link">Bradley Cooper</span>
          </div>
          <div class="meta-body-item meta-body-actor">
            <span class="light">Avec</span>
            <span class="ACrL3BACrlcnNvbm5lL2ZpY2hlcGVyc29ubmVfZ2VuX2NwZXJzb25uZT00MTc3MDIuaHRtbA==">Lady Gaga</span>,
            <span class="ACrL3BACrlcnNvbm5lL2ZpY2hlcGVyc29ubmVfZ2VuX2NwZXJzb25uZT05NTY3Ni5odG1s">Bradley Cooper</span>,
            <span class="ACrL3BACrlcnNvbm5lL2ZpY2hlcGVyc29ubmVfZ2VuX2NwZXJzb25uZT0xNzcxOS5odG1s">Sam Elliott</span>
          </div>
        </div>
      </div>
      <div class="synopsis">
        <div class="content-txt ">
          Jackson Maine, musicien chevronn&#xE9;, d&#xE9;couvre Ally, une chanteuse qui a du mal &#xE0; percer. Alors
          que la jeune femme est sur le point de renoncer &#xE0; faire carri&#xE8;re, Jac
          kson tombe amoureux d&apos;elle et la propulse sur le devant de la sc&#xE8;ne. Bient&#xF4;t &#xE9;clips&#xE9;
          par le succ&#xE8;s d&apos;Ally, il vit de plus en plus de mal son propre d&#x
          E9;clin&#x2026;
        </div>
      </div>
      <div class="rating-holder rating-holder-3">
        <div class="rating-item">
          <div class="rating-item-content">
            <span class="ACrL2ZACrpbG0vZmljaGVmaWxtLTE3MzEwOS9jcml0aXF1ZXMvcHJlc3NlLw== rating-title"> Presse </span>
            <div class="stareval stareval-medium stareval-theme-default">
              <div class="rating-mdl n35 stareval-stars">
                <div class="star icon"></div>
                <div class="star icon"></div>
                <div class="star icon"></div>
                <div class="star icon"></div>
                <div class="star icon"></div>
              </div>
              <span class="stareval-note">3,3</span></div>
          </div>
        </div>
        <div class="rating-item">
          <div class="rating-item-content">
            <span
              class="ACrL2ZACrpbG0vZmljaGVmaWxtLTE3MzEwOS9jcml0aXF1ZXMvc3BlY3RhdGV1cnMv rating-title"> Spectateurs </span>
            <div class="stareval stareval-medium stareval-theme-default">
              <div class="rating-mdl n40 stareval-stars">
                <div class="star icon"></div>
                <div class="star icon"></div>
                <div class="star icon"></div>
                <div class="star icon"></div>
                <div class="star icon"></div>
              </div>
              <span class="stareval-note">4,2</span></div>
          </div>
        </div>
        <div class="rating-item">
          <div class="rating-item-content js-user-friends-rating" data-entity-id="TW92aWU6MTczMTA5" data-size="medium"
               data-title="Mes amis ">
            <a class="rating-title" href="#">Mes amis </a>
            <div class="stareval stareval-medium stareval-theme-default">
              <div class="rating-mdl n00 stareval-stars">
                <div class="star icon"></div>
                <div class="star icon"></div>
                <div class="star icon"></div>
                <div class="star icon"></div>
                <div class="star icon"></div>
              </div>
              <span class="stareval-note no-rating">--</span></div>
          </div>
        </div>
      </div>
    </div>
  </li>
</section>
